.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

.canvas {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}

.modal {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 2rem 2.5rem;
  text-align: center;
  color: #222;
  width: 95%;
  max-width: 450px;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.4);
  animation: popIn 0.6s ease forwards;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  color: #333;
  font-size: var(--fs-11);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.closeBtn:hover {
  transform: scale(1.2);
}

.title {
  font-size: var(--fs-18);
  color: #d4af37;
  margin-bottom: 1rem;
  font-weight: 700;
}

.message {
  font-size: var(--fs-11);
  color: #444;
  margin-bottom: 0.5rem;
}

.sub {
  font-size: var(--fs-11);
  color: #555;
  margin-top: 0.5rem;
}

@media (min-width: 574px) {
  .closeBtn,
  .message,
  .sub {
    font-size: var(--fs-12);
  }
}
@media (min-width: 768px) {
  .closeBtn,
  .message,
  .sub {
    font-size: var(--fs-13);
  }
  .title {
    font-size: var(--fs-2);
  }
}
@media (min-width: 1024px) {
  .closeBtn,
  .message,
  .sub {
    font-size: var(--fs-14);
  }
  .title {
    font-size: var(--fs-22);
  }
}
@media (min-width: 1280px) {
  .closeBtn,
  .message,
  .sub {
    font-size: var(--fs-15);
  }
  .title {
    font-size: var(--fs-24);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
